* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: gray;
}
#container{
    width: 400px;
    height: 400px;
}


.square {
    background-color: aqua;

}